In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import os
from scipy.stats import wilcoxon

### 정규분포를 따르기 않는 데이터 생성

In [2]:
pre_treatment = np.random.rand(20) + 1
post_treatment = np.random.rand(20) + 2

# dataframe 생성
data = pd.DataFrame({
    "pre_treatment" : pre_treatment,
    "post_treatment" : post_treatment
})
data

    pre_treatment  post_treatment
0        1.943481        2.280098
1        1.712076        2.405304
2        1.691271        2.743123
3        1.951453        2.377892
4        1.620025        2.574576
5        1.191047        2.421742
6        1.310014        2.620852
7        1.582430        2.028101
8        1.642073        2.421495
9        1.879663        2.250426
10       1.549861        2.695632
11       1.601116        2.021146
12       1.438116        2.229152
13       1.093093        2.587909
14       1.800532        2.037422
15       1.554455        2.631663
16       1.971960        2.632449
17       1.087898        2.099503
18       1.159513        2.122635
19       1.028126        2.825588

In [3]:
os.makedirs("./data", exist_ok=True)
data.to_csv("./data/non_normal_data.csv", index=False, encoding='utf-8')

In [5]:
# 데이터 가져오기
data = pd.read_csv('./data/non_normal_data.csv')

# 윌콕슨 부호 순위 검정 수행
stat, p = wilcoxon(data['pre_treatment'], data['post_treatment'])
print(stat, p)

0.0 1.9073486328125e-06

In [6]:
if p > 0.05 : 
    print("Fail to reject HO")
else :
    print("Reject HO")

SyntaxError: invalid syntax (2358466458.py, line 1)

In [ ]:
""