In [1]:
import numpy as np
import pandas as pd
from scipy.stats import mannwhitneyu
from scipy import stats
np.random.seed(42)

In [2]:
# 랜덤 데이터 생성
group1 = np.random.normal(loc=6, scale=1.5, size=100)
group2 = np.random.normal(loc=7, scale=1.5, size=100)

# csv 저장
data = pd.DataFrame({
    'group1' : group1,
    'group2' : group2
})

data.to_csv("./data/sleep_data.csv", index=False, encoding='utf-8')

In [3]:
# csv 읽기
sleep_data = pd.read_csv("./data/sleep_data.csv")
sleep_data

      group1    group2
0   6.745071  4.876944
1   5.792604  6.369032
2   6.971533  6.485928
3   8.284545  5.796584
4   5.648770  6.758071
..       ...       ...
95  3.804728  7.577976
96  6.444180  5.674214
97  6.391583  7.230588
98  6.007670  7.087313
99  5.648119  5.285545

[100 rows x 2 columns]

In [4]:
group1_data = data['group1']
group2_data = data['group2']

In [5]:
# 멘-휘트니 검정 수행
st, p_val = mannwhitneyu(group1_data, group2_data, alternative='two-sided')
print(st, p_val)

2834.0 1.2154388166891524e-07

In [6]:
# 유의수준 0.05 가설검정
if p_val < 0.05 :
    print("두 집단 간에는 유의한 차이가 있음")
else :
    print("두 집단 간에는 유의한 차이가 없음음")

두 집단 간에는 유의한 차이가 있음