In [1]:
# Class의  사용법
class MyClass:
  pass

In [2]:
print(MyClass)
print(id(MyClass))

<class '__main__.MyClass'>
53526160

In [3]:
class Person :
  Name = 'Default Name'
  def Print(self):
    print("My Name is {0}".format(self.Name))

In [4]:
p1 = Person()

In [5]:
p1.Name = '윤하'
p1.Print()

My Name is 윤하

In [6]:
p1 = Person()
p2 = Person()

In [7]:
p1.Name = '윤하'
p2.Name = '아이유'
p1.Print()
p2.Print()

My Name is 윤하
My Name is 아이유

In [8]:
Person.Title = 'New Title'

In [9]:
print(p1.Title)
print(p2.Title)

New Title
New Title

In [10]:
p1.Age = 30

In [11]:
print(p1.Age)
# print(p2.Age)

30

In [12]:
# Class의 상속
class Person:
  pass

In [13]:
class Student(Person):
  pass

In [14]:
class Bird:
  pass

In [15]:
p = Person()
s = Student()

In [16]:
# isinstance 인스턴스 관계를 확인하는 함수 
# 상속관계에 있으면 속해 있다
print(isinstance(p, Person))
print(isinstance(s, Person))
print(isinstance(s, object))
print(isinstance(int, object))

True
True
True
True

In [17]:
# 생성자 소멸자 메소드
class MyClass:
  def __init__(self):
    print('class created')

In [18]:
my = MyClass()
del my

class created

In [19]:
class Person:
  Name = ''
  Age = 0
  def __init__(self, name, age):
    print("Class Created")
    self.Name = name
    self.Age = age
  def __del__(self):
    print("Class Deleted")
  def Print(self):
    print(self.Name)
    print(self.Age)

In [20]:
p = Person('아이유',30)
p.Print()
del p

Class Created
아이유
30
Class Deleted

In [21]:
# 정적(Static) 메소드
class CounterManager:
  InsCount = 0
  def __init__(self):
    CounterManager.InsCount += 1
  def PrintInstanceCount(): # 정적 메소드로 변환
    print("Instance Count : {0}".format(CounterManager.InsCount))
  
  StaticCount = staticmethod(PrintInstanceCount) # 정적메소드로 선언

In [22]:
a = CounterManager()
b = CounterManager()
c = CounterManager()

In [23]:
CounterManager.PrintInstanceCount() # Class를 직접 사용하는 것은 금지

Instance Count : 3

In [24]:
p = CounterManager()
p.StaticCount()

Instance Count : 4

In [25]:
# 상속의 심화
class Person:
  def __init__(self, name, phone) :
    self.Name = name
    self.Phone = phone
  def PrintInfo(self):
    print("Info(Name : {0}, Phone : {1})".format(self.Name, self.Phone))
  def PrintPersonData(self):
    print("Person(Name : {0}, Phone : {1})".format(self.Name, self.Phone))

In [26]:
class Student(Person):
  def __init__(self,name,phone,subject,studentID):
    self.Name = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID

In [27]:
p = Person('박보검', '010-1111-1111')
s = Student('아이유', '010-2222-2222','학생회장','0001')

In [28]:
print(p.__dict__)
print(s.__dict__)

{'Name': '박보검', 'Phone': '010-1111-1111'}
{'Name': '아이유', 'Phone': '010-2222-2222', 'Subject': '학생회장', 'StudentID': '0001'}

In [29]:
s.PrintInfo()

Info(Name : 아이유, Phone : 010-2222-2222)

In [30]:
# 상속관계를 확인
print(issubclass(Student,Person))
print(issubclass(Person,Student))

True
False

In [31]:
class Student(Person):
  def __init__(self,name,phone,subject,studentID):
    self.Name = name
    self.Phone = phone
    self.Subject = subject
    self.StudentID = studentID  
  def PrintStudentData(self):
    print('Student(Name : {0}, StudentID : {1})'.format(self.Name, self.StudentID))
  def PrintPersonData(self):
    return ("{0}님의 전공은 {1}입니다.".format(self.Name, self.Subject))

In [32]:
s = Student('민아', '010-2222-2222','Computer','0001')
s.PrintStudentData()

Student(Name : 민아, StudentID : 0001)

In [33]:
# 다중 상속
class Tiger:
  def Jump(self):
    print('호랑이 점프')

In [34]:
class Lion:
  def Bite(self):
    print('사자의 물기')

In [35]:
class Liger(Tiger, Lion):
  def Play(self):
    print('라이거의 놀기')

In [36]:
l = Liger()
l.Jump()
l.Bite()
l.Play()

호랑이 점프
사자의 물기
라이거의 놀기