## 문자열을 날짜로 변환

In [1]:
import pandas as pd
import numpy as np
import pytz
from pytz import all_timezones

In [2]:
date_string = np.array(['03-04-2023 11:20 PM', '05-04-2023 09:20 PM', '07-04-2023 02:20 AM'])

### Time Stamp 객체로 변경

In [3]:
for data in date_string : 
    temp = pd.to_datetime(data, format='%d-%m-%Y %I:%M %p')
    print(temp)

for data in date_string : 
    temp_value = pd.to_datetime(data, format='%d-%m-%Y %I:%M %p', errors='ignore')
    print(temp_value)

2023-04-03 23:20:00
2023-04-05 21:20:00
2023-04-07 02:20:00
2023-04-03 23:20:00
2023-04-05 21:20:00
2023-04-07 02:20:00

### 시간대 데이터 처리

In [4]:
pd.Timestamp('2023-01-01 06:00:00', tz='Europe/London')
data_temp = pd.Timestamp('2023-04-20 06:00:00')
print(data_temp)

2023-04-20 06:00:00

In [5]:
# 시간대를 지정
date_in_london = data_temp.tz_localize('Europe/London')
print(date_in_london)

2023-04-20 06:00:00+01:00

In [6]:
# 시간대를 변환
date_in_london.tz_convert('Africa/Abidjan')

# 세 개의 날짜를 만들기
dates_temp = pd.Series(pd.date_range('2/2/2023', periods=3, freq='M'))
temp_dates = dates_temp.dt.tz_localize('Africa/Abidjan')
print(temp_dates)

0   2023-02-28 00:00:00+00:00
1   2023-03-31 00:00:00+00:00
2   2023-04-30 00:00:00+00:00
dtype: datetime64[ns, Africa/Abidjan]

### 시간대 데이터 처리 01

In [7]:
all_timezones[0:30]

['Africa/Abidjan',
 'Africa/Accra',
 'Africa/Addis_Ababa',
 'Africa/Algiers',
 'Africa/Asmara',
 'Africa/Asmera',
 'Africa/Bamako',
 'Africa/Bangui',
 'Africa/Banjul',
 'Africa/Bissau',
 'Africa/Blantyre',
 'Africa/Brazzaville',
 'Africa/Bujumbura',
 'Africa/Cairo',
 'Africa/Casablanca',
 'Africa/Ceuta',
 'Africa/Conakry',
 'Africa/Dakar',
 'Africa/Dar_es_Salaam',
 'Africa/Djibouti',
 'Africa/Douala',
 'Africa/El_Aaiun',
 'Africa/Freetown',
 'Africa/Gaborone',
 'Africa/Harare',
 'Africa/Johannesburg',
 'Africa/Juba',
 'Africa/Kampala',
 'Africa/Khartoum',
 'Africa/Kigali']

In [8]:
dates_temp.dt.tz_localize('dateutil/Asia/Seoul')

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, tzfile('ROK')]

In [9]:
tz_temp = pytz.timezone('Asia/Seoul')
temp_01 = dates_temp.dt.tz_localize(tz_temp)
print(temp_01)

0   2023-02-28 00:00:00+09:00
1   2023-03-31 00:00:00+09:00
2   2023-04-30 00:00:00+09:00
dtype: datetime64[ns, Asia/Seoul]

### 날짜와 시간 선택하기

In [10]:
dateframe = pd.DataFrame()
dateframe['date'] = pd.date_range('1/1/2023', periods=1000, freq='H')
print(dateframe)

                   date
0   2023-01-01 00:00:00
1   2023-01-01 01:00:00
2   2023-01-01 02:00:00
3   2023-01-01 03:00:00
4   2023-01-01 04:00:00
..                  ...
995 2023-02-11 11:00:00
996 2023-02-11 12:00:00
997 2023-02-11 13:00:00
998 2023-02-11 14:00:00
999 2023-02-11 15:00:00

[1000 rows x 1 columns]

In [11]:
# 두 datetime 사이의 샘플을 선택합니다.
dateframe[(dateframe['date'] > '2021-1-1 01:00:00') &
         (dateframe['date'] <= '2023-1-1 04:00:00 ')]
dateframe = dateframe.set_index(dateframe['date'])
print(dateframe)

temp_02 = dateframe.loc['2023-1-1 01:00:00' : '2023-1-1 04:00:00']
print(temp_02)

                                   date
date
2023-01-01 00:00:00 2023-01-01 00:00:00
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00
...                                 ...
2023-02-11 11:00:00 2023-02-11 11:00:00
2023-02-11 12:00:00 2023-02-11 12:00:00
2023-02-11 13:00:00 2023-02-11 13:00:00
2023-02-11 14:00:00 2023-02-11 14:00:00
2023-02-11 15:00:00 2023-02-11 15:00:00

[1000 rows x 1 columns]
                                   date
date
2023-01-01 01:00:00 2023-01-01 01:00:00
2023-01-01 02:00:00 2023-01-01 02:00:00
2023-01-01 03:00:00 2023-01-01 03:00:00
2023-01-01 04:00:00 2023-01-01 04:00:00