In [1]:
import pandas as pd
from scipy.stats import levene

In [2]:
# 데이터 불러오기
data = pd.read_csv("./data/manwhitneyu_sample_data.csv")
data

   group1  group2
0       3       6
1       2       4
2       5       7
3       1       2
4       4       6
5       2       3
6       6       7
7       7       9
8       9      10
9       8      11

In [3]:
# 등분산성 검정
stat, p = levene(data['group1'], data['group2'])
print(stat, p)

if p > 0.05 : 
    print("Fail to reject H0")
else : 
    print("Reject H0")

0.0 1.0
Fail to reject H0