# Python - 01 데이터 타입 
<!-- ### 단락 구분자 '#' -->
<!-- ![사진] (https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/1200px-Python-logo-notext.svg.png) -->

In [12]:
print("hello world")

hello world

In [13]:
# 변수 규칙
a = 1
b = 2 
# 2a = 3 항상 변수는 알파벳으로 시작해야한다
student_cnt = 100 # 가급적 풀 워드로 짓는다 
address = '' # 가급적 정확한 영어로 짓는다
print(a * b, student_cnt)

2 100

In [14]:
# 대소문자를 구별한다.
friend = 1
Friend = 10 
print(friend)

1

In [15]:
# 예약어는 사용할 수 없다
# for = 1

In [23]:
# 숫자형
year = 2023
print(type(year))
month = 4
print(year,"/",month)

<class 'int'>
2023 / 4

In [26]:
year = 2023
print(type(year)) # type() 데이터의 타입을 확인하는 함수
year = '2023'
print(type(year))

<class 'int'>
<class 'str'>

In [29]:
# 8진수
# 정수 앞에 0o를 붙이면 8진수가 된다
print(0o10)
# 정수 앞에 0b를 붙이면 2진수가 된다
print(0b10)
# 정수 앞에 0x를 붙이면 2진수가 된다
print(0x10)

8
2
16

In [32]:
# 다음은 10진수를 받아서 각 진수로 변환하는 방법 (결과가 문자형)
print(oct(38)) # 10진수 38을 8진수로 변환
print(hex(38)) # 10진수 38을 16진수로 변환
print(bin(38)) # 10진수 38을 2진수로 변환

0o46
0x26
0b100110

In [44]:
# 파이썬의 정수 타입
print(1, type(1)) # int
print(2**31, type(2**31)) # 2의 31승 파이썬 3.0 int형으로 정수형 통합|

1 <class 'int'>
2147483648 <class 'int'>

In [45]:
# 실수의 표현 
print(3.14, type(3.14))
print(314e-2, type(314e-2)) # float
print(type(3-4j)) # 복소수

x = 3 - 4j
print(x.imag)
print(x.real)
print(x.conjugate())

3.14 <class 'float'>
3.14 <class 'float'>
<class 'complex'>
-4.0
3.0
(3+4j)

In [47]:
# 원의 넓이와 삼각형 넓이 구하기 
r = 2 
circle_area = (r ** 2) * 3.14
print(circle_area)

x = 3
y = 4 
triangle_area = x * y / 2
print(triangle_area)

12.56
6.0

In [48]:
# 문자형 실습
print('Hello World')
print("Hello World")

Hello World
Hello World

In [50]:
print('''
항상 태양을 바라보아라 .
그리하면 너는 그림자를 볼 수 없을 것이다.
      - 헬렌켈러-
      ''')

항상 태양을 바라보아라 .
그리하면 너는 그림자를 볼 수 없을 것이다.
      - 헬렌켈러-

In [51]:
print('\t탭 \n다음줄')

	탭
다음줄

In [53]:
print('py' 'thon')
print('py' + 'thon')

python
python

In [54]:
print('py'*3)

pypypy

In [55]:
a = 'python'
print(a)

python

In [58]:
print(a[0])
print(a[0+1])
print(a[2])

p
y
t

In [63]:
# index를 이용해서 범위를 설정할 수 있다
print(a)
print(a[0:1])
print(a[1:4])
print(a[:2]) # 생략은 해당 방향의 끝을 나타낸다
print(a[2:])
print(a[:])
print(a[::2])

python
p
yth
py
thon
python
pto

In [67]:
# 데이터 타입의 변환 
print(type(str(3.14))) # 문자형으로 변환
print(type(int('49'))) # 정수형으로 변환
print(float(23), type(float(23))) # 실수형으로 변환

<class 'str'>
<class 'int'>
23.0 <class 'float'>