In [1]:
import pandas as pd
import numpy as np
from scipy.stats import chi2_contingency

In [2]:
# 가상 데이터 생성
data = {
    'Gender' : ["M","M","M","M","F","F","F","F"],
    'Smoker' : ["Yes","No","No","Yes","Yes","No","No","Yes"],
    'Count' : [20,80,40,60,40,160,80,120]
}
df = pd.DataFrame(data)
df

  Gender Smoker  Count
0      M    Yes     20
1      M     No     80
2      M     No     40
3      M    Yes     60
4      F    Yes     40
5      F     No    160
6      F     No     80
7      F    Yes    120

In [3]:
# 데이터 프레임을 이용한 분할표 생성
table = pd.pivot_table(df, values='Count', index='Gender', columns='Smoker')
table

Smoker   No  Yes
Gender
F       120   80
M        60   40

In [4]:
# chi2_contingency
stat, p, dof, expected = chi2_contingency(table)
alpha = 0.05
print(p)
if p < alpha :
    print("귀무 가설 기각")
else :
    print("귀무 가설 채택")

1.0
귀무 가설 채택