In [1]:
# Numpy
# C언어로 개발된 파이썬에서 과학적 계산을 위한 핵심 라이브러리. 다차원 객체와 배열과 함께 작동하는 도구들을 제공한다.
# 하지만 고수준의 데이터 분석 기능을 제공하지는 않기 때문에 Numpy 배열과 함께 Pandas와 같은 도구를 사용한다.

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
arr = np.array([1,2,3,4])
print(arr)
print(type(arr))

[1 2 3 4]
<class 'numpy.ndarray'>

In [4]:
# zeros, ones, empty를 사용해서 배열을 생성한다
car = np.zeros((3,3))
car1 = np.ones((3,3))
car

array([[0., 0., 0.],
       [0., 0., 0.],
       [0., 0., 0.]])

In [5]:
np.empty((4,4)) # 이전에 사용하던 데이터의 찌꺼기가 남아있다

array([[2.15446692e-316, 0.00000000e+000, 5.29514186e-085,
        6.01347002e-154],
       [6.01347002e-154, 2.88281490e+213, 6.01347002e-154,
        4.47593816e-091],
       [6.01346953e-154, 8.80067147e+199, 7.69115792e+218,
        5.31764987e+232],
       [3.32229873e+257, 7.40774656e-130, 2.28663227e-152,
        9.48981221e-307]])

In [6]:
# 특정 범위의 변수를 생성할 때 arange()를 사용한다
print(np.arange(10))
print(np.arange(1,10))
print(np.arange(1,10,2)) # 10 앞의 수에서 끝남, 2 : 증가값

[0 1 2 3 4 5 6 7 8 9]
[1 2 3 4 5 6 7 8 9]
[1 3 5 7 9]

In [7]:
# ndarray 배열의 모양, 차수, 데이터 타입 확인해보기 
arr = np.array([[1,2,3],[4,5,6],[7,8,9]]) # 3차원
arr

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [8]:
# 차원의 확인 
arr.ndim

2

In [9]:
# 데이터의 모양을 확인하는 방법
arr.shape

(3, 3)

In [10]:
# 데이터 타입의 확인
print(type(arr))
print(arr.dtype)

<class 'numpy.ndarray'>
int64

In [11]:
# ndarray 배열의 타입 변환 
arr_int = np.array([1,2,3,4])
print(arr_int)
print(arr_int.dtype)
arr_float = arr_int.astype(np.float64)
print(arr_float)
print(arr_float.dtype)

[1 2 3 4]
int64
[1. 2. 3. 4.]
float64

In [12]:
arr_str = np.array(['1','2','3','4'])
print(arr_str)
print(arr_str.dtype) # unicode
arr_int = arr_str.astype(np.int64)
print(arr_int)
print(arr_int.dtype)

['1' '2' '3' '4']
<U1
[1 2 3 4]
int64

In [13]:
# 배열의 연산
arr1 = np.array([[1,2], [3,4]])
arr2 = np.array([[5,6], [7,8]])
print(arr1 + arr2 )
print(arr1 - arr2 )
print(arr1 * arr2 )

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]
[[ 5 12]
 [21 32]]

In [14]:
print(np.add(arr1, arr2))
print(np.subtract(arr1, arr2))
print(np.multiply(arr1, arr2))

[[ 6  8]
 [10 12]]
[[-4 -4]
 [-4 -4]]
[[ 5 12]
 [21 32]]

In [15]:
# ndarray 배열 슬라이싱 하기
arr = np.array([[1,2,3],
                [4,5,6],
                [7,8,9]])

In [16]:
arr_1 = arr[:2,1:3] # 세로로 0,1 가로로 1,2
print(arr_1)

[[2 3]
 [5 6]]

In [17]:
arr = np.array([[1,2,3],
               [4,5,6],
               [7,8,9]])
arr[0,2]

3

In [18]:
arr = np.array([[1,2,3], [4,5,6]])
idx = arr > 3
idx

array([[False, False, False],
       [ True,  True,  True]])

In [19]:
arr[idx]

array([4, 5, 6])

In [20]:
redwine = np.loadtxt(fname='winequality-red.csv', delimiter=';', skiprows=1)

In [21]:
print(redwine)

[[ 7.4    0.7    0.    ...  0.56   9.4    5.   ]
 [ 7.8    0.88   0.    ...  0.68   9.8    5.   ]
 [ 7.8    0.76   0.04  ...  0.65   9.8    5.   ]
 ...
 [ 6.3    0.51   0.13  ...  0.75  11.     6.   ]
 [ 5.9    0.645  0.12  ...  0.71  10.2    5.   ]
 [ 6.     0.31   0.47  ...  0.66  11.     6.   ]]

In [22]:
# 기초 통계함수
# sum   합계
# mean  평균
# std   표준 편차
# var   분산(std의 제곱)
# min   최소값
# max   최대값

print(redwine.sum())
print(redwine.sum(axis=0)) # axis 축 방향, 0 : 열을 기준, 1: 행을 기준
print(redwine.mean(axis=0))

152084.78194
[13303.1       843.985     433.29     4059.55      139.859   25384.
 74302.       1593.79794  5294.47     1052.38    16666.35     9012.     ]
[ 8.31963727  0.52782051  0.27097561  2.5388055   0.08746654 15.87492183
 46.46779237  0.99674668  3.3111132   0.65814884 10.42298311  5.63602251]

In [23]:
print(redwine[:,0].mean())

8.31963727329581

In [24]:
print(redwine.max(axis=0))
print(redwine.min(axis=0))

[ 15.9       1.58      1.       15.5       0.611    72.      289.
   1.00369   4.01      2.       14.9       8.     ]
[4.6     0.12    0.      0.9     0.012   1.      6.      0.99007 2.74
 0.33    8.4     3.     ]