## 트랜드 실습

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
from statsmodels.tsa.seasonal import seasonal_decompose

### 시계열 데이터, 프레임 생성

In [2]:
# 시계열 데이터 생성 
dates = pd.date_range(start='2023-01-01', periods=100, freq='D')
values = [10,12,11,15,9,13,8,14,10,16] * 10

# 데이터 프레임 생성
data = pd.DataFrame({
    'Date' : dates,
    'Value' : values
})
data

         Date  Value
0  2023-01-01     10
1  2023-01-02     12
2  2023-01-03     11
3  2023-01-04     15
4  2023-01-05      9
..        ...    ...
95 2023-04-06     13
96 2023-04-07      8
97 2023-04-08     14
98 2023-04-09     10
99 2023-04-10     16

[100 rows x 2 columns]

### 주기 설정, 주기성 분해

In [3]:
period = 7 # 이는 데이터가 7일 간격으로 반복되는 패턴을 가지고 있다는 가정

# 주기성 분해
result = seasonal_decompose(data['Value'], model='additive', period=period)

0           NaN
1           NaN
2           NaN
3     11.142857
4     11.714286
        ...
95    11.428571
96    12.142857
97          NaN
98          NaN
99          NaN
Name: trend, Length: 100, dtype: float64

In [ ]:
# 추세 계산
trend = result.trend

 

# 시계열 데이터 시각화
plt.plot(data['Date'], data['Value'], label='Original')
plt.plot(data['Date'], trend, label='Trend')
plt.xlabel('Date')
plt.ylabel('Value')
plt.title('Trend Extraction in Time Series Data')
plt.legend()
plt.show()